FFT Demo

In [1]:
import emptyheaded
emptyheaded.createDB("$EMPTYHEADED_HOME/examples/fft/config.json")
# emptyheaded.loadDB("$EMPTYHEADED_HOME/examples/fft/db")

Created database with the following relations:
	b(node:long)
	testx(node:long,node:long)

In [2]:
emptyheaded.environment.relations

{u'b_0': 'disk', u'testx_0_1': 'disk', u'testx_1_0': 'disk'}

In [3]:
emptyheaded.fetchData("b")

   0  annotation
0  0         1.0
1  1         1.1
2  2         1.2
3  3         1.3
4  4         1.4
5  5         1.5
6  6         1.6
7  7         1.7

In [4]:
emptyheaded.fetchData("testx")

   0  1  annotation
0  0  0         0.0
1  0  1         0.1
2  1  0         1.0
3  1  1         1.1